.bgImage {
    background-image: url("../../imgs/resize.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: 100% 100%;
    overflow: auto;
}

.createrecipe {
    width: 250px;
    margin-left: 200px;
    margin-top: 75px;
  }

  .cancelbtn {
    background-color: #e09b6a;
    width: 190px;
  }

  .submitbtn{
    background-color: #fad185;
    width: 193px;
    margin-left: 15px;
  }

  .recipe{
      width: 400px;
      margin-top: 25px;
      margin-left: 550px;
  }

  .favrecipebtn {
      background-color: #fad185;
      width: 250px;
      float: left;
      clear: both;
      margin-top: -55px;
      margin-left: 300px;
  }

  .searchForm {
    /* margin-top: 100px; */
    margin-left: 50px;
    width: 220px;
}

  .savedRecipes{
    padding: 25px;
    background:rgba(29, 29, 29, 0.2);
    height: auto;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: hidden;
    width: auto;
    /* margin: 0 auto; */
    margin-left: 50px;
    margin-top: 150px;
    /* float: left; */
    display: none;
  }

  button:hover:before {
	left: 7px;
}

.fa-utensils {
    opacity: 0.75;
}

.fa-utensils:hover {
    /* opacity: 1; */
    font-size: 20px;
    transition: all 200ms ease;
}

/* .form-control{
    margin-top: 100px;
    height: 50px;
} */

button {
    border-radius: 3px;
    width: 100%;
    padding: 10px 35px;  
    overflow:hidden;
    border: 2px solid #fad185;
}

button:hover {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.15);
}

button:disabled {
    background-color: #fff2da;
    box-shadow: none;
  }

#warning{
    font-family: FontAwesome;
    font-size: 50px;
    font-weight: bolder;
    text-align: center; 
    margin-top: 250px; 
    color:black;

}