body {
    background-image: url("../../imgs/resize.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    overflow: auto;
}

.createrecipe {
    width: 200px;
    margin-left: 150px;
    margin-top: 100px;
  }

  .cancelbtn {
    background-color: #e09b6a;
    width: 200px;
    margin-left: 150px;
  }

  .submitbtn{
    background-color: #fad185;
    width: 200px;
    margin: 20px;
  }

  .favrecipe {
      margin-top: -250px;
      width: 100px;
      /* float: right;
      clear: both; */
  }

  .favrecipebtn {
      background-color: #fad185;
      width: 200px;
  }

  .searchForm {
    margin-top: 50px;
    width: 100px;
}

  .savedRecipes{
    padding: 25px;
    background:rgba(29, 29, 29, 0.2);
    height: auto;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: hidden;
    width: auto;
    /* margin: 0 auto; */
    margin-left: 200px;
    margin-top: 150px;
  }

  button:hover:before {
	left: 7px;
}

.fa-utensils {
    opacity: 0.75;
}

.fa-utensils:hover {
    /* opacity: 1; */
    font-size: 20px;
    transition: all 200ms ease;
}

button {
    border-radius: 3px;
    width: 100%;
    padding: 10px 35px;  
    overflow:hidden;
    border: 2px solid #fad185;
}

button:hover {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.15);
}

button:disabled {
    background-color: #fff2da;
    box-shadow: none;
  }